@import "./libs/breakpoint";
@import "./libs/vendor";
@import "./libs/functions";
@import "./libs/html-grid";
@import "./libs/mixins";
@import "./libs/vars";

// Breakpoints

@include breakpoints(
  (
    xlarge: (
      1281px,
      1680px,
    ),
    large: (
      981px,
      1280px,
    ),
    medium: (
      737px,
      980px,
    ),
    small: (
      481px,
      736px,
    ),
    xsmall: (
      361px,
      480px,
    ),
    xxsmall: (
      null,
      360px,
    ),
  )
);

// Base
@import "./base/reset";
@import "./base/typography";
@import "./base/page";

// Layout
@import "./layout/intro";
